<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.8.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.8.0" targetFramework="net48" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net481" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.10.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3351.48" targetFramework="net48" />
  <package id="MySqlConnector" version="2.3.7" targetFramework="net48" />
  <package id="NaCl.Net" version="0.1.13" targetFramework="net48" />
  <package id="Nancy" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PusherClient" version="2.2.1" targetFramework="net48" />
  <package id="PusherServer" version="5.0.0" targetFramework="net48" />
  <package id="RestSharp" version="112.0.0" targetFramework="net48" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net48" />
  <package id="Select.HtmlToPdf" version="24.1.0" targetFramework="net48" />
  <package id="SqlTableDependency" version="8.5.8" targetFramework="net48" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.AttributedModel" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Convention" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Hosting" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Runtime" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.TypedParts" version="8.0.0" targetFramework="net481" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net48" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.3" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0-preview.7.24405.7" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net48" />
</packages>